.wrapper {
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.circle {
  width: 80px;
  height: 80px;
  border-radius: 150px;
  border: 8px solid transparent;
  border-top-color: #ffbc10;
  box-sizing: border-box;
  position: absolute;
  top: 20%;
  left: 35%;
  animation: circle 1s linear infinite;
}
@keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
