.container {
  position: relative;
  padding: 24px;
  min-height: 240px;
  &__title {
    font-size: 24px;
    font-weight: 900;
    min-height: 40px;
  }
}

.contentEditable {
  outline: none;
}

.placeholder {
  position: absolute;
  color: #888888;
  top: 24px;
  left: 24px;
  pointer-events: none;
  user-select: none;
}

.tips {
  display: flex;
  align-items: center;
  min-width: 200px;
  box-sizing: border-box;
  margin: 0px;
  padding: 8px;
  font-size: 14px;
  cursor: pointer;
  & + & {
    border-top: 1px solid #eaeaea;
  }
  &:hover {
    background-color: #eaeaea;
  }
  &__wrapper {
    position: absolute;
    top: 0;
    left: 100px;
    transform: translate(15px, -15%);
    display: inline-flex;
    align-items: flex-start;
    flex-direction: column;
    width: auto;
    margin-left: 8px;
    border-radius: 4px;
    box-shadow: 0px 0px 16px -6px rgba(0, 0, 0, 0.6);
  }
  &__container {
    position: relative;
  }
}

.plus {
  display: inline-block;
  vertical-align: middle;
  color: #333;
  line-height: 1;
  width: 1em;
  height: 0.1em;
  background: currentColor;
  border-radius: 0.1em;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: inherit;
    transform: rotate(90deg);
  }
}
